@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    overflow-x: unset;
}
/* width */
::-webkit-scrollbar {
    position: relative;
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(136, 136, 136, 0.6); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.6); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.6); 
  }
/* "Error Handeling" 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/

.background {
    background-image: url("/assets/img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    overflow: auto;
}

.TextOnImage {
    position: absolute;
    top: 30vh;
    margin-left: 20vw;
    text-align: center;
    color: white;
}

@media screen and (max-width: 400px) {
    .TextOnImage {
        font-size: 2.6vw;
        transition: 0.2s;
    }
}

@media screen and (max-width: 600px) {
    .TextOnImage {
        font-size: 2.6vw;
        transition: 0.2s;
    }
}


.ShowMore {
    position: absolute;
    top: 80vh;
    margin-left: 40vw;
    color: white;
    font-size: 20px;
}

.ShowMore p a{
    text-decoration: none;
    color: white;
    
}

@media screen and (max-width: 2000px) {
    .ShowMore {
        margin-left: 46vw;
    }
}

@media screen and (max-width: 1800px) {
    .ShowMore {
        margin-left: 46vw;
    }
}

@media screen and (max-width: 1200px) {
    .ShowMore {
        margin-left: 45.6vw;
    }
}

@media screen and (max-width: 500px) {
    .ShowMore {
        margin-left: 42vw;
    }
}

.info {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex: 1;
    margin-bottom: 10vh;
}

/*.box-wrapper {
    height: 10vh;
    background: rgba(233, 233, 233, 0.4);
    border-radius: 1vh;
    border: 2px solid rgba(26, 26, 26, 0.5);
}


@media screen and (max-width: 2000px) {
    .box-wrapper {
        width: 1000px;
        height: 15vh;
        transition: 0.5s;

    }
}

@media screen and (max-width: 1700px) {
    .box-wrapper {
        width: 500px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1520px) {
    .box-wrapper {
        width: 450px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1500px) {
    .box-wrapper {
        width: 700px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1420px) {
    .box-wrapper {
        width: 600px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1320px) {
    .box-wrapper {
        width: 550px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1120px) {
    .box-wrapper {
        width: 500px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1000px) {
    .box-wrapper {
        width: 90vw;
        transition: 0.5s;
    }
}

@media screen and (max-width: 490px) {
    .box-wrapper {
        width: 80vw;
        transition: 0.5s;
    }
}

@media screen and (max-width: 390px) {
    .box-wrapper {
        width: 80vw;
        transition: 0.5s;
    }
}
*/
.cards {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards li {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(247, 247, 247, 0.4);
    color: #000000;
    flex: 1 1 200px;
}

.cards h2 {
    margin: 0;
    color: black;
    padding: 10px;
}

.cards p {
    padding: 10px;
    font-weight: 100;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.flex li {
    flex: 1 1 200px;
    margin: 10px;
}

/* Admin section */
.admin {
    width: 100%;
    height: 600px;
    overflow: hidden !important;
}

.paralax {
    height: 600px;
    width: 100%;
    background-image: url("/assets/img/daylight-fog-foggy-1699030.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

/*@media screen and (max-height:1000px) {
    .admin {height:90vh}
    .paralax {height: 90vh;}
}@media screen and (max-height:750px) {
    .admin {height:100vh}
    .paralax {height: 100vh;}
}

@media screen and (max-height:660px) {
    .admin {height:120vh}
    .paralax {height: 120vh;}
}
@media screen and (max-height:550px) {
    .admin {height:140vh}
    .paralax {height: 140vh;}
}
@media screen and (max-height:470px) {
    .admin {height:200vh}
    .paralax {height: 200vh;}
}

@media screen and (max-height:330px) {
    .admin {height:250vh}
    .paralax {height: 250vh;}
}

@media screen and (max-height:266px) {
    .admin {height:350vh}
    .paralax {height: 350vh;}
}*/

.admin-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-text h1 {
    border-radius: 1px;
    border: 2px solid black;
    text-align: center;
    color: black;
    font-size: 30px;
}

.meet-the-team {
}



/* /Admin */

.register {
    height: 800px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex: 1;
    margin-top: 100px;
    overflow: hidden !important;
}

.register-now iframe {
    width: 600px;
}

@media screen and (max-width: 1000px) {
    .register-now iframe {
        width: 400px;
    }
}
@media screen and (max-width: 700px) {
    .register-now iframe {
        width: 370px;
    }
}

@media screen and (max-width: 400px) {
    .register-now iframe {
        width: 300px;
    }
}
@media screen and (max-width: 280px) {
    .register-now iframe {
        width: 250px;
    }
}

.footer {
    display: flex;
    flex: 1;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    background-color: rgb(59, 59, 59);
    margin-top: 100px;
}

.footer-about h1 {
    text-align: center;
    color: white;
}

.footer-about p {
    text-align: center;
    color: white;
}

.footer-about a {
    text-align: center;
    color: aqua;
}